.container{
    display: flex;
}

.quadro {
    width: 100%;
    height: 84.5dvh;
    background-color: var(--brand-primary);
    border-radius: 15px;
    margin-top: 6px;
    margin-left: 6px;
    margin-right: 5px;
    text-align: center;
 
}

.create-button{
    width: 100%;
    height: 70px;
    padding: 10px;
}

button {
    margin-bottom: 30px; 
    width: 50%; 
    height: 70px !important;
    background: var(--action-primary); 
    border: none;
    border-radius: 5px; 
    font-weight: 600;
    font-size: 20px;  
    letter-spacing: 0.5px; 
    align-items: center; 
    transition: all 0.3s ease; 
}

.button{
    color: white;
}