<main>
    <div class="container">
        <mat-card class="quadro">
            <div class="create-button">
        <button mat-raised-button class="button" (click)="navigateToSupplierCreate()">Novo fornecedor</button>
        <div class="mat-elevation-z4">
            <input type="text" placeholder="Filtro de pesquisa" [(ngModel)]="searchText" (input)="filterSuppliers()" class="filter"> 
        </div>
    </div>
    
    <app-supplier-read [supplier]="supplierFilter"></app-supplier-read>
    </mat-card>
</div>
    
</main>


<!--  
    
-->         
        
