
.container{
    display: flex;
}

.quadro {
    width: 100%;
    height: 82dvh;
    background-color: var(--brand-primary);
    border-radius: 15px;
    margin: 6px;
    text-align: center;
    
}

.create-button{
    width: 100%;
    height: 50px;
    padding: 10px;
}

button {
    margin-bottom: 30px; /* Espaço inferior do botão */
    width: 50%; /* Ocupa toda a largura do container */
    height: 60px; /* Altura padrão do botão */
    background: var(--action-primary); /* Cor roxa como fundo do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Bordas levemente arredondadas */
    font-weight: 600; /* Deixa o texto um pouco mais marcante */
    letter-spacing: 0.5px; /* Espaçamento sutil entre letras */
    align-items: center; /* Centraliza o conteúdo do botão */
    transition: all 0.3s ease; /* Transições suaves para hover e active */
}

.button{
    color: white;
}