<main class="container">
    <mat-toolbar class="header">
        <button mat-button>
            <img src="assets/images/logo.svg" alt="Logo" class="logo">
        </button> 
        <div class="search-container">
        <button mat-icon-button class="searchbar">
            <mat-icon class="white">search white</mat-icon>
        </button>
        <input type="text" placeholder="Buscar..." class="input-search"/>
        </div>
        <button mat-button>
            <img src="assets/images/User.png" alt="User" class="user">
        </button>
    </mat-toolbar>
</main>
