<div class="mat-elevation-z4">
  <h3 class="title">Vendas:</h3>
  <div class="sales-list">
    <div *ngFor="let sale of sales" class="sale-card-wrapper">
      <mat-card class="sale-card">
        <div class="sale-content">
          <div class="sale-item border-right">
            <span class="label">cliId:</span>
            <span class="value">{{ sale.cliId }}</span>
          </div>
          <div class="sale-item">
            <span class="label">Código:</span>
            <span class="value code">{{ sale.vendaCodigo }}</span>
          </div>
          <a routerLink="/" class="info-icon">
                    <i class="material-icons">info</i>
                </a>
        </div>
      </mat-card>
    </div>
  </div>
</div>
