<div class="container">
        <mat-card class="quadro">
            <!-- conteudo-->
            <mat-card class="form-card">
                <mat-card-title>New product</mat-card-title>
            <div class="form-scroll">
                <form>
                    <mat-form-field>
                        <mat-label>Produto</mat-label>
                        <input matInput placeholder="Nome" name="proNome" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Descrição</mat-label>
                        <textarea matInput placeholder="Descrição" name="proDescricao" required></textarea>
                    </mat-form-field>
                    <mat-form-field>
                    <mat-label>Preço de Custo</mat-label>
                        <input matInput type="number" placeholder="Preço de custo (R$)" name="proPrecoCusto" step="0.01" min="0" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Preço de Venda</mat-label>
                        <input matInput type="number" placeholder="Preço de venda (R$)" name="proPrecoVenda" step="0.01" min="0" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Quantidade em Estoque</mat-label>
                        <input matInput type="number" placeholder="Quantidade em estoque" name="proQuantidadeEstoque" min="0" required>
                    </mat-form-field>
            <!--categoria-->
                    <mat-form-field  class="full-width custom-select">
                            <mat-label>Categoria</mat-label>
                        <mat-select name="proCategoria" required>

                        <mat-option value="teclado">
                            <mat-icon class="option-icon">keyboard</mat-icon>
                            Teclado
                        </mat-option>

                        <mat-option value="mouse">
                            <mat-icon class="option-icon">mouse</mat-icon>
                            Mouse
                        </mat-option>

                        <mat-option value="monitor">
                            <mat-icon class="option-icon">tv</mat-icon>
                            Monitor
                        </mat-option>

                        <mat-option value="headset">
                            <mat-icon class="option-icon">headset</mat-icon>
                            Headset
                        </mat-option>

                        <mat-option value="mousepad">
                            <img src="assets/img/mousepad.png" width="20" style="margin-right: 8px;" class="option-img" />
                            MousePad
                        </mat-option>

                        <mat-option value="cadeira">
                            <img src="assets/img/cadeira-gamer.png" width="20" style="margin-right: 8px;"
                                class="option-img" />
                            Cadeira Gamer
                        </mat-option>

                        <mat-option value="Console">
                            <img src="assets/img/console-de-videogame.png" width="20" style="margin-right: 8px;"
                                class="option-img" />
                            Console
                        </mat-option>

                        <mat-option value="Controle">
                            <img src="assets/img/controle-de-video-game.png" width="20" style="margin-right: 8px;"
                                class="option-img" />
                            Controle
                        </mat-option>

                        <mat-option value="acessorios">
                            <img src="assets/img/outra.png" width="20" style="margin-right: 8px;" class="option-img" />
                            Acessórios
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            <!--Códogo de barras-->
                <mat-form-field>
                    <mat-label>Código de Barras</mat-label>
                    <input matInput placeholder="Código de barras" name="proCodigoBarras" required>
                </mat-form-field>
                <!-- Marca -->
                <mat-form-field class="full-width custom-select">
                    <mat-label>Marca</mat-label>
                    <mat-select name="proMarca" required>

                        <mat-option value="razer">
                            <img src="assets/img/razer.png" width="20" style="margin-right: 8px;" class="option-img" />
                            Razer
                        </mat-option>

                        <mat-option value="hyperx">
                            <img src="assets/img/hyperx.png" width="20" style="margin-right: 8px;" class="option-img" />
                            HyperX
                        </mat-option>

                        <mat-option value="nzxt">
                            <img src="assets/img/NZXT.png" width="20" style="margin-right: 8px;" class="option-img" />
                            NZXT
                        </mat-option>

                        <mat-option value="Dell">
                            <img src="assets/img/Dell.png" width="20" style="margin-right: 8px;" class="option-img" />
                            Dell
                        </mat-option>

                        <mat-option value="Lian Li">
                            <img src="assets/img/LianLi.png" width="20" style="margin-right: 8px;" class="option-img" />
                            Lian Li
                        </mat-option>

                        <mat-option value="logitech">
                            <img src="assets/img/LogiTech.png" width="20" style="margin-right: 8px;" class="option-img" />
                            Logitech
                        </mat-option>

                        <mat-option value="steelseries">
                            <img src="assets/img/steelseries.png" width="20" style="margin-right: 8px;"
                                class="option-img" />
                            SteelSeries
                        </mat-option>

                        <mat-option value="reddragon">
                            <img src="assets/img/redragons.png" width="20" style="margin-right: 8px;" class="option-img" />
                            RedDragon
                        </mat-option>

                        <mat-option value="outra">
                            <img src="assets/img/outra.png" width="20" style="margin-right: 8px;" class="option-img" />
                            Outra Marca
                        </mat-option>

                    </mat-select>
                </mat-form-field>
            <!--unidade de medida-->
                <mat-form-field>
                    <mat-label>Unidade de Medida</mat-label>
                    <input matInput placeholder="Unidade de medida" name="proUnidadeMedida" required>
                </mat-form-field>
                <!--Produto ativo-->
                <mat-form-field>
                    <mat-label>Produto Ativo?</mat-label>
                    <mat-select name="proAtivo">
                        <mat-option [value]="true">Sim</mat-option>
                        <mat-option [value]="false">Não</mat-option>
                    </mat-select>
                </mat-form-field>
                <!--Datas-->
                <mat-form-field>
                    <mat-label>Data de Cadastro</mat-label>
                    <input matInput [matDatepicker]="picker1" placeholder="Data de Cadastro" name="proDataCadastro" required>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Data de Atualização</mat-label>
                    <input matInput [matDatepicker]="picker2" placeholder="Data de Atualização" name="proDataAtualizacao" required>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                

                </form>

            <div class="finish">
                <button class="cancel">CANCEL</button>
                <button class="save">SAVE</button>
                </div>
            </div>
            </mat-card> 
        </mat-card>
</div>