.container{
    display: flex;
}

.footer {
    background-color: var(--brand-primary);
    padding: 0.5rem;
    border-radius: 15px;
    position: sticky;
    overflow: hidden;
    justify-content: end;
}
