
.sidebar-wrapper {
  margin-top: 6px;
  margin-bottom: 6px;
}
.footer-wrapper {
  flex-shrink: 0;
}

.background {
  background-color: var(--background-base);
  height: 100%;
}

.main-content {
  flex: 1;
  display: flex;
  overflow: hidden;
  width: 2541px;
}

.page-content {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  }

