
.footer-wrapper {
  flex-shrink: 0;
}

.main-content {
  flex: 1;
  display: flex;
  width: 100%;
  margin-bottom: 5px;
  height: 100%;
}

.page-content {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  }

