.container {
    display: flex;

}

.sidebar{
    height: 84dvh;
    background-color: #7F8C8D;
    color: white;
    position: sticky;
    transition: width 0.3s ease;
    overflow: hidden;
    border-radius: 15px;
}

.sidebar.expanded {
    width: 12rem;
}

.sidebar.collapsed {
    width: 4rem;
}

.toggle-button {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    background-color: #7F8C8D;
    color: white;
    border: 1px solid #4a5568;
    border-radius: 9999px;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.arrow{
    transition: transform 0.3s ease;
}

.arrow-flip{
    transform: rotate(180deg);
}

.menu{
    padding: 1rem;
}

.menu-title {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  padding: 0.5rem;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.menu-item:hover {
  background-color: #4a5568;
}

/* Conteúdo principal */
.main {
  flex: 1;
  padding: 1rem;
}

.main-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.main-text {
  margin-top: 0.5rem;
}

