<div class="container">
    <div [ngClass]="{
        'expanded': !isCollapsed,
        'collapsed': isCollapsed
    }" class="sidebar">
    
    <button (click)="toggleSidebar()" class="toggle-button">
        <span [ngClass]="{
            'arrow-flip': isCollapsed
        }" class = "arrow">❮</span>
    </button>

    <div *ngIf="!isCollapsed" class="menu">
        <h2 class="menu-title">Menu</h2>
        <ul class="menu-list">
            <li class="menu-item">Inicio</li>
        </ul>
    </div>

    </div>
</div>