.container {
    display: flex;

}

.sidebar{
    height: 82dvh;
    background-color: var(--brand-primary);
    color: white;
    position: sticky;
    transition: width 0.3s ease;
    overflow: hidden;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
}

.sidebar.expanded {
    width: 12rem;
}

.sidebar.collapsed {
    width: 4rem;
}

.toggle-button {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    background-color: var(--brand-primary);
    color: white;
    border: 1px solid var(--border-base);
    border-radius: 9999px;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.arrow{
    transition: transform 0.3s ease;
}

.arrow-flip{
    transform: rotate(180deg);
}

.menu{
    padding: 1rem;
}

.menu-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 1rem;
  color: white;
  font-size: 1.125rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.menu-item i.material-icons {
  font-size: 25px;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
}

.main {
  flex: 1;
  padding: 1rem;
}

.main-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.main-text {
  margin-top: 0.5rem;
}

.sidebar-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}
